.nida {
  box-sizing: border-box;
  background-image: url("pexels-cristian-dina-1851415.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.h1 {
  font-size: xx-large;
  color: rgb(180, 38, 85);
  background-color: rgba(199, 194, 195, 0.5);
}
.h2 {
  font-size: x-large;
  color: rgb(180, 38, 85);
  background-color: rgba(199, 194, 195, 0.5);
}
.a {
  color: rgb(180, 38, 85);

  font-size: x-large;
  font-weight: bold;
  background-color: rgba(199, 194, 195, 0.8);
}
a:link {
  color: rgb(180, 38, 85);
}
a:visited {
  color: rgb(80, 7, 22);
}
.a:hover {
  background-color: rgba(179, 158, 162, 0.8);
}
.div {
  display: flex;
}
.img {
  background-size: 30vh;
  background-image: url("fadi.jpg");
  background-repeat: no-repeat;
  padding: 15vh;
}
.img:hover {
  cursor: pointer;
}
